/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  scrollbar-color: #888 #333;
}

/* Tailwind Initialization */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.chakra-normal {
  font-family: "Chakra Petch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chakra-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-bold {
  font-family: "Chakra Petch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.Geist-bold {
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Geist-medium {
  font-family: "Geist", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.Geist-light {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Geist-normal {
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Product Animation */
/* Base style for floating balls */
.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  animation: pulse 3s ease-in-out infinite alternate;
}

/* Specific positions for each ball to spread them out */
.ball-1 {
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.ball-2 {
  bottom: 20px;
  right: 40px;
  width: 20px;
  height: 20px;
}

.ball-3 {
  bottom: 50px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.ball-4 {
  bottom: 70px;
  right: 60px;
  width: 15px;
  height: 15px;
}

.ball-5 {
  bottom: 30px;
  right: 80px;
  width: 10px;
  height: 10px;
}

/* Animation for pulsing effect */
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.8;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

/* Menu Dot Animation */
.dot {
  display: inline-block;
  opacity: 0;
  animation: dotFade 1s infinite;
}

@keyframes dotFade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
    scale: 1.2;
  }
}

/* Loading Animation */
.loader {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  background: transparent;
  overflow: hidden;
}
.loader::after {
  content: "";
  width: 120px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
